<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/kateryna.cherkashyna/IdeaProjects/Global_Logic_Petstore/src/test">
        <classes>
            <class name="test.PetTests">
                <methods>
                    <include name="addNewPet"/>
                    <include name="verifyNewPet"/>
                    <include name="updatePet"/>
                    <include name="verifyUpdatedPet"/>
                    <include name="deletePetAndDoCheck"/>
                    <include name="findPetsByStatus"/>
                    <include name="updatePetByPost"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>